__pycache__/
*.py[cod]
*$py.class
.venv
#.env
.DS_Store
.coverage
htmlcov/
dist/
build/
*.egg-info/
.data/
logs/
.git/
.agents/
node_modules/
.next/
venv/
.venv/
backup/
vendor/
.claude
.gemini
.agents
